.bg
	background url("../img/bg.jpg") no-repeat center fixed
	background-color 0 !important
	background-position fixed
	background-size cover

.bg-orange
	background-color #E07914
	
.h100
	height 100% !important

.trick_intro
	-webkit-align-items center
	-webkit-box-pack center
	-webkit-justify-content center
	align-items center
	display -webkit-box
	display -webkit-flex
	display flex
	height 100%
	justify-content center
	width 100%

.wrapper-login
	margin 0 auto
	width 100%

.container-login
	background-color #fff
	border-radius 2px
	box-shadow 0 0 21px -1px rgba(0, 0, 0, 0.35)
	padding-top 2em
	width 100%

.form-login
	background-color #f79729
	padding 2em

.logo
	display block
	margin 0 auto
	padding-bottom 1em
	img
		display block
		margin 0 auto
		max-width 260px
		width 70%

.logo-header
	display block
	margin 1em auto
	max-width 180px
	img
		width 100%

#preloader2
	display block
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background #E07914
	z-index 100

#loader2
	width 100px
	height 100px
	position absolute
	left 50%
	top 50%
	background url(../img/ajax_loader.gif) no-repeat center 0
	background-size contain


.remember-pass
	color #fff !important
	display block
	text-align center
	text-decoration none

.list-stops
	display block
	margin 0 auto !important
	width 100%
	li
		a
			background-color rgba(255, 255, 255, 0.8) !important

.pin-list0
	i
		color #D90000
		font-size 3em !important

.pin-list1
	i
		color #bbb
		font-size 3em !important

.pin-list2
	i
		color #FFFF00
		font-size 3em !important

.pin-list3
	i
		color #238C00
		font-size 3em !important

.details-list
	p
		color #f89200
		i
			margin-right 5px

.detail-stop
	background-color rgba(255, 255, 255, 0.8) !important
	display block

.header-detail
	background-color #555
	color #fff
	padding .5em
	h1
		display inline-block
		font-size 1em
		text-align center
		width 90%

.header-detail2
	background-color #2db200
	color #fff
	padding .5em
	h1
		display inline-block
		font-size 1em
		margin-left 2%
		text-align left
		width 90%

.header-detail3
	background-color #d90000
	color #fff
	padding .5em
	h1
		display inline-block
		font-size 1em
		margin-left 2%
		text-align left
		width 90%

.info-detail
	padding-bottom 1em
	h2
		border-left 5px solid #f6911d
		color #f6911d
		font-family 'open_sanssemibold'
		font-size 1.2em
		padding-left 10px
	ul
		list-style none
		margin 0
		li
			display block
	p
		margin 0
		padding-bottom 1em
	h3
		font-size 1em
		margin 1em 0 5px 0

.info-detail ul,
.info-detail p,
.info-detail h3
	padding 0 1em 0 1em

.scroll-info
	max-height 230px
	overflow scroll

.map-route
	display block
	height 100%
	width 100%
	#map-canvas
		height 100%
		position relative
		width 100%
		z-index 0

#map-canvas
	height 300px
	width 100%

.btn-pop
	background-color #444
	height 45px
	position absolute
	text-align center
	width 45px
	z-index 1
	&.pdetalles
		right 20px
		top 20px
	&.pindicaciones
		right 20px
		top 75px
	i
		color #fff
		margin-top 15px

#popDetalles
	background-color rgba(255, 255, 255, 0.9) !important

#popIndicaciones
	background-color rgba(255, 255, 255, 0.9) !important
	.info-detail
		max-height 350px
		overflow scroll

.footer
	bottom 70px
	height 30px
	position relative
	width 100%
	z-index 100
	a
		&.btn-play
			margin 0 auto
			width 80%
	.ui-grid-a
		a
			display block
			margin 0 auto
			width 60%

.menu-panel
	list-style none
	margin 0
	padding 0
	li
		border-bottom 1px solid #cc6220
		padding 1em 0 1em .5em
		a
			color #fff !important
			cursor pointer
			display block
			text-decoration none
			width 100%
			i
				background-color #fff
				border 1px solid #ff883e
				border-radius 50%
				color #eb7023
				height 18px
				margin-right .5em
				padding .2em
				text-align center
				width 18px
		&:active
			background-color #ff883e

.ui-panel-inner
	padding 0 !important

#left-panel
	background-color #eb7023
	h2
		background-color #d86720
		color #fff
		margin 0
		padding 1em

.title-header
	.small
		font-size 12px
		margin-top 5px
		&:last-child
			text-align right
	.title
		font-size 18px

#right-panel
	h2
		font-size 1em
		padding-left 1em
		i
			background-color #fff
			border 1px solid #ff883e
			border-radius 50%
			color #eb7023
			height 18px
			margin-right .5em
			padding .2em
			text-align center
			width 18px

.notifications-list
	padding 0
	margin 0
	list-style none
	li
		border-bottom 1px solid #e1e1e1
		margin-bottom 1em
		padding 15px
		a
			text-decoration none
			
// .notifications-panel
// 	.fa-asterisk
// 		color #FEE211 !important
// 		font-size .9em
	// .fa-bell
	// 	font-size 1.3em
		
.notify-item
	display none
	padding 3px 7px 3px 7px
	background #cc0000
	color #ffffff
	font-weight bold
	border-radius 9px
	position absolute
	font-size 11px
	right 30px
	z-index 1000
	top 30px

.asterix-notify
	color #858585
	display inline-block
	font-size 1em
	vertical-align middle
	width 10%

.text-notify
	color #858585
	display inline-block
	font-size .9em
	font-weight 400
	margin 0 0 0 3%
	vertical-align middle
	width 85%
	p
		margin 0
	span
		font-size .8em
		color #858585

.notification
	.asterix-notify
		font-size 1.3em
		color #f8df00
	.text-notify
		font-weight 700
		color #3d454c

.mensajes-tareas
	.ui-btn
		font-size 13px !important

.list-route-old
	margin 0
	padding 0
	list-style none
	li
		padding-bottom 1em
		border-bottom 1px solid #ccc
		h2
			font-size 16px
		.details-list
			p
				margin 0
				font-size 12px

#routes-collapsible
	.ui-collapsible-content
		background-color rgba(255, 255, 255, 0.8)

.list-reprogramadas
	li
		background-color rgba(255, 255, 255, 0.8) !important

.title-listview
	display block
	i
		background-color #fff
		border 1px solid #ff883e
		border-radius 50%
		color #eb7023
		height 18px
		margin-right .5em
		padding .2em
		text-align center
		width 18px

.title-listview i,
.title-listview h2
	display inline-block !important
	vertical-align middle

#mensajesComplete
	display none

.col-1
	display inline-block
	vertical-align middle
	width 8%

.col-2
	display inline-block
	vertical-align middle
	width 15%

.col-4
	display inline-block
	vertical-align middle
	width 33%

.col-6
	display inline-block
	vertical-align middle
	width 49%

.col-8
	display inline-block
	vertical-align middle
	width 66%

.col-10
	display inline-block
	vertical-align middle
	width 80%

.pull-right
	float right !important

.pull-left
	float left !important

.text-right
	text-align right

.text-center
	text-align center
.top6
	top 6px